.banner-img{
   background: rgba(0, 0, 0, 0.5);
   background-image: url('https://i.ibb.co/Jp9qMtn/martin-katler-8oq0-UPB1-HK4-unsplash.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-blend-mode: overlay;
   height: 100vh;
   width: 100%;
}
.pt-200{
   padding-top: 200px;
   color: white;
}
.banner-title{
   font-weight: 900;
}